body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Alice', serif;*/
    background-color: #f8f8f8;
}

.header {
    margin: 0 112px 0 112px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
}

.search {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.search a {
    margin: auto;
}

.search span {
    display: block;
    background-image: url(../img/search.svg);
    width: 16px;
    height: 16px;
    margin-right: 16px;
}

.search input {
    border: none;
}

.right_section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a.need_help {
    padding: 11px 32px;
    background-color: #3CABB1;
}

a.read_next {
    /* margin-top: 48px; */
    padding: 11px 32px;
    background-color: #3CABB1;
}


.need_help button {
    background: transparent;
    border: none;
    color: #FFF;
    text-transform: uppercase;
}

.read_next button {
    background: transparent;
    border: none;
    color: #FFF;
    /* text-transform: uppercase; */
}

a.burger_menu {
    margin: auto;
}

.burger_menu span {
    background-image: url(../img/burger.svg);
    width: 22px;
    height: 14px;
    display: block;
    margin-left: 24px;
}

.main_img {
    position: absolute;
    background-image: url(../img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 730px;
    top: -20px;
    z-index: -1;
}

.wrap {
    width: 50%;
    margin: 88px 112px 0px 112px;
    color: white;
}

.wrap h1 {
  color: #FFFFFF;
  font-family: 'Alice', serif;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.wrap p {
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 48px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 97px;
    flex-wrap: wrap;
}

[class*=security] {
    padding: 20px 30px 40px 40px;
    background-color: #FFF;
    margin: 0px 12px 12px 12px;
    background-color: #FFF;
}

[class*=security] img {
    margin: auto;
    display: block;
}

.about {
    margin-top: 40px;
    width: 50%;
    margin-left: 112px;
}

.about + img {
    display: block;
    position: relative;
    margin-top: -240px;
    z-index: -1;
    margin-left: auto;
    /* white-space: pre-wrap; */
}

.news {
    background-color: #FFF;
}